body {
	background-color: #DCECF7;
}

#mocha h1 {
	text-transform: uppercase;
	color: #874FB7;
	font-weight: bold;
	font-size: 20px;
}

#mocha .title-page{
	font-size: 36px;
	color: #0C7C29;
}

#mocha h2{
	font-weight: bold;
	color: #6C1717;
}

#mocha .test h2 {
	font-size: 20px;
}

.title-page {

}

.navigation{
	position:fixed;
	width:100%;
	height: 44.66px;
	top:12px;
}

.navigation-sub{
	background-color: #6FFBD8;
	width:100%;
	height:100%;

}